{% extends 'base.html' %}

{% block title %}{{ product }}{% endblock %}

{% block content %}
    Title: {{ product.title }}
    <br>
    Price: {{ product.price }}
    <br>
    Description: {{ product.description }}
    <br>
    Quantity: {{ product.quantity }}
    <br>
    Stock: {{ product.is_available }}
    <hr>
    <a class="btn btn-success mb-2" href="{% url 'store:update_product' product_pk=product.pk %}">Update</a>
    <form action="{% url 'store:delete_product' product_pk=product.pk %}" method="post" onsubmit="return confirm('Are you sure to delete this product?')">
        {% csrf_token %}
        <button class="btn btn-danger">Delete</button>
    </form>
{% endblock %}